In [2]:
kkkkljijl

NameError: name 'kkkkljijl' is not defined

In [4]:
print("1 Hellooooooooooooooo world")

1 Hellooooooooooooooo world

In [5]:
print("2 Hello World. Its raining today")

2 Hello World. Its raining today

In [6]:
print("3 Hello world.", "Its raining today")

3 Hello world. Its raining today

In [7]:
print("4 Hello world.", "Today its raining", "It is going to be humid today.", "Good luck")

4 Hello world. Today its raining It is going to be humid today. Good luck

In [10]:
print("""
In the vastness of space, you define
A beauty that's beyond compare
A sight that makes us all stop 
Guiding us through life, as we try
To find our way, to reach our dreams
""")

In the vastness of space, you define
A beauty that's beyond compare
A sight that makes us all stop
Guiding us through life, as we try
To find our way, to reach our dreams

In [11]:
print("x")

x

In [20]:
x = 45 # this is how you define var 
print(x) # here x is a variable

SyntaxError: invalid syntax (1187623545.py, line 1)

In [16]:
# variable int, string, float, bool, complex,
x = 34          # integer
print(x)
print(type(x))

34
<class 'int'>

In [21]:
y = 3.14     # float
print(y)
print(type(y))

3.14
<class 'float'>

In [23]:
name = "Alice"   # string
print(name)
print(type(name))

Alice
<class 'str'>

In [29]:
a = "23"
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

23
<class 'str'>
23
<class 'int'>

In [32]:
score = 34

if score > 10:
    print("your score is more than 10")
    print("Congratulation")
else:
    print("Your score is not more than 10")
    print("Thats bad")

your score is more than 10
Congratulation

In [33]:
print("Hello world")
print("Hello world")
print("Hello world")

Hello world
Hello world
Hello world

In [38]:
for i in range(3):
    print("Hello world")
    print("..rahim")
    
print("Yea ...I am out of for loop")

Hello world
..rahim
Hello world
..rahim
Hello world
..rahim
Yea ...I am out of for loop

In [40]:
for i in range(3):
    print("""Hello world
    ..rahim
    """)
    
print("Yea ...I am out of for loop")

Hello world
    ..rahim

Hello world
    ..rahim

Hello world
    ..rahim

Yea ...I am out of for loop

In [44]:
# store data: list, tuple, dictionary, 

fruits = ["banana", "kiwi", "apple"] # this list contains 3 elements
print(fruits)

prices = (3, 4, 6.5) # this tuple contains 3 elements
print(prices)

fruit_data = {"banana": 3,
              "kiwi": 4,
              "apple": 6
}
print(fruit_data)

['banana', 'kiwi', 'apple']
(3, 4, 6.5)
{'banana': 3, 'kiwi': 4, 'apple': 6}